#earthquake-info {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#earthquake-info-panel {
  height: 15%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

  background-color: grey;
  color: white;
  border-bottom: solid 2px darkgray;
}

#leaflet-map {
  width: 100%;
}
