ul {
  margin: 0;
  padding: 0;
}

li {
  background-color: rgb(240, 240, 240);
  color: black;

  cursor: pointer;

  padding: 0.2em;

  text-overflow: ellipsis;
  white-space: nowrap;
}

li:hover {
  background-color: aquamarine;
}
